.content {
  display: flex;
  flex-direction: column;
  padding-left: 96px;
  padding-right: 96px;
}

.headline-add-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.close-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.close-btn {
  width: 13.5px;
  height: 13.5px;
}

.close-div:hover {
  background-color: #ebebeb;
}

.close-btn:hover {
  color: #2a3647;
}

.h1-add-task {
  font-size: 61px;
  font-weight: 700;
}

.input-section {
  display: flex;
  justify-content: space-between;
}

.section-left {
  width: 440px;
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-right {
  width: 440px;
  height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-task-single {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-and-star {
  display: flex;
}

.input_at {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(209, 209, 209, 1);
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}

.input_at:focus,
.textarea-add-task:focus,
.input-date:focus {
  outline: none;
  border-color: rgba(41, 171, 226, 1);
}

.drop-down-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(209, 209, 209, 1);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.drop-down-menu:hover {
  border-color: rgb(172, 172, 172);
}

.input-date {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(209, 209, 209, 1);
  cursor: pointer;
  font-size: 20px;
  color: rgba(209, 209, 209, 1);
}

::placeholder {
  font-size: 20px;
  color: rgba(209, 209, 209, 1);
}

.textarea-add-task {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(209, 209, 209, 1);
}

.button-prio {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 10px;
  gap: 8px;
  border: solid 1px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  cursor: pointer;
}

.button-prio:hover {
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}
.isSelected[color='rgba(255, 61, 0, 1);'] {
  background-color: rgba(255, 61, 0, 1);
  border: none;
  cursor: pointer;
  box-shadow: none;
  color: white;
}
.isSelected[color='rgba(255, 168, 0, 1)'] {
  background-color: rgba(255, 168, 0, 1);
  border: none;
  cursor: pointer;
  box-shadow: none;
  color: white;
}
.isSelected[color='rgba(122, 226, 41, 1)'] {
  background-color: rgba(122, 226, 41, 1);
  border: none;
  cursor: pointer;
  box-shadow: none;
  color: white;
}

.isSelected > img {
  filter: brightness(0) invert(1);
}

.prio-section {
  display: flex;
  justify-content: space-between;
}

.span-star {
  color: red;
}

.required-section {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.required-field {
  display: flex;
  text-align: end;
  padding-top: 30px;
}

.bt-section {
  display: flex;
  gap: 16px;
}

.bt-create-task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 183px;
  height: 56px;
  background-color: #2a3647;
  color: #ffffff;
  border: none;
  text-align: center;
  border-radius: 8px;
  font-size: 21px;
  transition: all 0.1s ease;
  gap: 4px;
}

.bt-create-task:hover {
  background-color: #29aae1;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.bt-clear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 56px;
  border: solid 1px #2a3647;
  background-color: #ffffff;
  color: #2a3647;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.1s ease;
  gap: 5px;
}

.bt-clear:hover {
  color: #29abe2;
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}
