.input-section {
  justify-content: space-evenly;
  display: flex;
}

.section-left {
  width: 440px;
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
}

.section-right {
  width: 440px;
  height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
}

.add-task-single {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.h1-add-task {
  font-size: 61px;
  font-weight: 700;
  padding: 60px 60px 40px 82px;
}

.title-and-star {
  display: flex;
}

.input_at {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(209, 209, 209, 1);
  cursor: pointer;
}

.drop-down-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(209, 209, 209, 1);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.drop-down-menu:hover {
  border-color: rgb(172, 172, 172);
}

.assigned-arrow {
  color: rgba(42, 54, 71, 1);
}

.assigned-arrow:hover {
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 1);
  transform: scale(1.1);
}

.input-date {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(209, 209, 209, 1);
  cursor: pointer;
  font-size: 20px;
  color: rgba(209, 209, 209, 1);
}

::placeholder {
  font-size: 20px;
  color: rgba(209, 209, 209, 1);
}

.textarea-add-task {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(209, 209, 209, 1);
}

.button-prio-urgent,
.button-prio-medium,
.button-prio-low {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 10px;
  gap: 8px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.button-prio-urgent:hover,
.button-prio-medium:hover,
.button-prio-low:hover {
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.prio-section {
  display: flex;
  justify-content: space-between;
}

.span-star {
  color: red;
}

.required-section {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  padding-top: 140px;
}

.required-field {
  display: flex;
  text-align: end;
  padding-top: 30px;
}

.bt-section {
  display: flex;
  gap: 16px;
}

.bt-add-task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 183px;
  height: 56px;
  background-color: #2a3647;
  color: #ffffff;
  border: none;
  text-align: center;
  border-radius: 8px;
  font-size: 21px;
  transition: all 0.1s ease;
  gap: 4px;
}

.bt-add-task:hover {
  background-color: #29aae1;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.bt-clear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 56px;
  border: solid 1px #2a3647;
  background-color: #ffffff;
  color: #2a3647;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.1s ease;
  gap: 5px;
}

.bt-clear:hover {
  color: #29abe2;
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.button-img:hover {
  color: #29abe2;
}

.main-add-task {
  height: 100%;
}
