.side-menu {
  position: fixed;
  background-color: rgba(42, 54, 71, 1);
  width: 232px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  height: 96px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 348px;
  padding-right: 40px;
}

.header-right-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-profil-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(41, 171, 226);
  border: 3px solid rgba(42, 54, 71, 1);
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.join-logo-section {
  display: flex;
  justify-content: center;
  padding-top: 64px;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.navbar_section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 8px 53px;
  gap: 8px;
}

.nav:hover {
  background-color: rgb(48, 73, 90);
}

.side-menu-below-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  gap: 16px;
}

a {
  text-decoration: none;
  color: rgba(205, 205, 205, 1);
  font-weight: 400;
  font-size: 16px;
}

.a-policy {
  text-decoration: none;
  color: rgba(205, 205, 205, 1);
  font-weight: 400;
  font-size: 16px;
}

.a-policy:hover {
  color: rgb(41, 171, 226);
  font-weight: 700;
}
