@keyframes fadeOutLogo {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes shrinkLogo {
  0% {
    width: 274px;
    height: 334.07px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    width: 101px;
    height: 122px;
    top: 67px;
    left: 77px;
    transform: translate(0, 0);
  }
}

@keyframes slideInMessage {
  0% {
    transform: translate(-50%, 100vh);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes expand {
  from {
    max-height: 0;
  }
  to {
    max-height: 338px;
  }
}

@keyframes collapse {
  from {
    max-height: 338px;
  }
  to {
    max-height: 0;
  }
}

@keyframes cntSlideIn {
  from {
    transform: translateX(150%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes cntSlideOut {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(150%);
    opacity: 0;
  }
}

@keyframes slideInVertical {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutVertical {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes smartFadeShrinkOut {
  0% {
    opacity: 1;
    transform: scale(1);
    background-color: rgba(246, 247, 248, 0.2);
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
    background-color: rgba(246, 247, 248, 0);
  }
}