.board-header {
    max-width: 1208px;
    width: 100%;
    height: 208px;
    padding: 80px 88px 0px 64px;
}

.board-header-content {
    max-width: 1056px;
    width: 100%;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-headline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-headline h1 {
    font-size: 61px;
    font-weight: 700;
}

.find-add-task-content {
    max-width: 504px;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.outside-find-task {
    max-width: 312px;
    width: 100%;
    height: 48px;
    border: solid 1px #A8A8A8;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.outside-find-task:focus-within {
    border: solid 1px #29ABE2;
}

.outside-find-task input {
    cursor: pointer;
}

.outside-find-task img:hover {
    background-color: #eeeeee;
    border-radius: 50%;
}

.ft-inside-input {
    max-width: 280px;
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 400;
}

.bt-add-task {
    width: 160px;
    height: 48px;
    background-color: #2A3647;
    color: #ffffff;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    transition: all 100ms ease-in-out;
}

.bt-add-task:hover {
    background-color: #29aae1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.board-main {
    max-width: 1208px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 26px;
    padding: 0px 64px;
    flex-wrap: wrap;
}

.board-task {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.nav-add-task {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 205px;
}

.nav-add-task span {
    color: #42526E;
    font-size: 20px;
    font-weight: 700;
}

.nav-add-task svg {
    cursor: pointer;
}

.nav-add-task svg:hover path,
.nav-add-task svg:hover rect {
    stroke: #29ABE2;
}

.no-task {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: dotted 1px #A8A8A8;
    background-color: #E7E7E7;
    opacity: 0.5;
    box-shadow: 0px 0px 4px 0px #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-task span {
    font-weight: 400;
    font-size: 16px;
}

/* task card */

.task-card-outside {
    width: 250px;
    max-height: 225px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.card-headline {
    width: 113px;
    height: 27px;
    border-radius: 8px;
    background-color: #0038FF;
    padding: 4px 16px 4px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

.card-description {
    width: 100%;
    max-height: 46px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.card-description span {
    color: #2A3647;
    font-weight: 700;
    font-size: 16px;
}

.card-description p {
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
}

.card-progress{
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-progress-bar{
    max-width: 128px;
    height: 8px;
    border-radius: 8px;
    background-color: #4589FF;
}

.card-progress span {
    font-weight: 400;
    font-size: 12px;
}