.floating-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.1);
}

.floating-content {
  display: flex;
  flex-direction: column;
  padding-left: 74px;
  padding-right: 74px;
  width: 1116px;
  height: 870px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  animation: slideIn 0.2s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
}
