.floating-main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out;
}

.slideIn {
  animation: slideIn 0.5s ease-in-out forwards;
}

.slideOut {
  animation: slideOut 0.5s ease-in-out forwards;
}

.floating-content {
  display: flex;
  flex-direction: column;
  padding-left: 74px;
  padding-right: 74px;
  width: 1116px;
  height: 870px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
