.overlay-succsessful {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  animation: shrinkOverlay 800ms ease-in-out forwards;
}

.message-succsessful {
  width: 312px;
  height: 74px;
  color: #FFFFFF;
  border-radius: 20px;
  background-color: #2a3647;
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 4px 0px #00000026;
  font-size: 20px;
  font-weight: 400;
  z-index: 999;
  animation: shrinkLogo 400ms ease-in-out forwards;
}

@keyframes shrinkLogo {
  0% {
    transform: translate(-50%, 100vh);
  }
  100%{
    transform: translate(-50%, -50%);
  }
}

@keyframes shrinkOverlay {
  0% {
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}