.privacy-wrap {
  line-height: 1.6;
  margin: 0;
  background-color: #f6f7f8;
  padding: 110px 80px 80px 80px;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}

h2 {
  margin-top: 20px;
  font-size: 27px;
  font-weight: 700;
  line-height: 32.4px;
}

p {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

a {
  color: #29abe2;
}
