.wrapper {
    background-color: #f6f7f8;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: 110px;
}

.title-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    height: auto;
    width: auto;
}

.title-div h1 {
    font-size: 61px;
    margin: 0;
}

.title-div div {
    font-size: 27px;
    text-align: center;
}

.seperator {
    width: 3px;
    height: 59px;
    background-color: #28abe2
}

.main-div {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
}

.metrics-div {
    display: flex;
    flex-direction: column;
    margin-top: 33;
    width: 560px;
    height: 562px;
    margin-right: 96px;
}

.row-top {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: start;
    margin-bottom: 24px;
}

.row-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    border-radius: 30px;
    margin-bottom: 24px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.row-middle .todone-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 1; 
    cursor: pointer;
}

.row-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.todone-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 30px;
    width: 264px;
    height: 168px;
    gap: 16px;
    cursor: pointer;
}

.numbers-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.date-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 10%;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 25px;
    width: 168px;
    height: 168px;
    cursor: pointer;
}

.welcome-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: auto;
    height: auto;
}

.imgs-todo {
    width: 69px;
    height: 69px;
}

.img-urgent {
    width: 60px;
    height: 60px;
}

.welcome {
    font-size: 47px;
    font-weight: 500;
}

.name {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2
}

.number {
    font-size: 64px;
    font-weight: 600;
}

.text-todo {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.text-date {
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 8px;
}

.text-urgent {
    font-size: 16px;
    font-weight: 400;
}

.middle-sep {
    width: 2px;
    height: 102.2px;
    background-color: #D1D1D1
}

.hoverable {
    transition: all 0.2s ease;
}

.hoverable:hover {
    background-color: #293647;
    transform: scale(1.03);
    color: #ffffff;
}

.hoverable:hover img {
    filter: invert(1) brightness(2.5);
}

.hoverable:hover img.no-invert {
    filter: none;
}

