.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

.bg-white {
  background-color: #f6f7f8;
}

.devider-hr {
  border: none;
  height: 3px;
  background-color: #29abe2;
  width: 150px;
  border-radius: 3px;
}

.devider-ver {
  height: 424px;
  background-color: rgba(209, 209, 209, 1);
  width: 1px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-focus {
  border-color: #29ABE2;
}

.pointer{
  pointer-events:none;
  cursor: pointer;
}