.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

.bg-white {
  background-color: #f6f7f8;
}

.devider-hr {
  border: none;
  height: 3px;
  background-color: #29abe2;
  width: 150px;
  border-radius: 3px;
}

.devider-ver {
  height: 424px;
  background-color: rgba(209, 209, 209, 1);
  width: 1px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-focus {
  border-color: #29abe2;
}

.pointer {
  pointer-events: none;
  cursor: pointer;
}

/* ---------------------------- */

.h2-fontsize-27 {
  font-size: 27px;
  font-weight: 700;
}

.h2-fontsize-20 {
  font-size: 20px;
  font-weight: 700;
}

p {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
}
