a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}

p {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

span {
  color: red;
}

.bg-white {
  background-color: #f6f6f6;
}

.devider-hr {
  border: none;
  height: 3px;
  background-color: #29abe2;
  width: 150px;
  border-radius: 3px;
}

.devider-ver {
  border: none;
  height: 358px;
  background-color: rgba(209, 209, 209, 1);
  width: 1px;
  margin-bottom: 20px;
  border-radius: 3px;
}