.main-floater {
  width: 1212px;
  height: 592px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 30px 30px 30px 30px;
}

.add-contact {
  height: 594px;
  width: 467px;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 12px;
  color: white;
  padding: 66px 48px 66px 48px;
  border-radius: 30px 0 0 30px;
}

.add-text {
  display: flex;
  flex-direction: column;
}

.add-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-title {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  gap: 16px;
}

.add-subtitle {
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
}

.add-icon {
  width: 64px;
  height: 64px;
}

.add-icon-pers {
  width: 55.6px;
  height: 66.48px;
  top: 154px;
}

.add-form-circle {
  width: 120px;
  height: 120px;
  margin-left: 83px;
  background-color: #d1d1d1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.right-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  height: 100%;
  margin-left: 80px;
  position: relative;
}

.add-fields {
  display: flex;
  flex-direction: column;
  gap: 32px;
  cursor: pointer;
}

.add-input {
  width: 422px;
  height: 50px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 13px 21px 13px 21px;
  gap: 10px;
  cursor: pointer;
}

.add-input:focus {
  border-color: #29abe2;
  outline: none;
}

.add-close-div {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  cursor: pointer;
  background-color: transparent;
  width: 28px;
  height: 28px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.add-close-btn {
  width: 13.5px;
  height: 13.5px;
  z-index: 1;
}

.add-close-div:hover {
  background-color: #ebebeb;
}

.add-close-btn:hover {
  color: #2a3647;
}

.add-btn-div {
  display: flex;
  gap: 24px;
}

.add-btn-cancel {
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 16px;
  gap: 4px;
  color: #2a3647;
  width: 126px;
  height: 56px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-btn-cancel:hover {
  border-width: 2px;
  border-color: #29abe2;
  color: #29abe2;
  box-shadow: 0 4px 6px #d1d1d1;
}

.add-btn-cancel:hover .img-btn-close {
  content: url("../assets/icons/close-blue.svg");
}

.add-btn-create {
  background-color: #2a3647;
  border: 1px solid;
  border-radius: 10px;
  padding: 16px;
  gap: 4px;
  color: white;
  width: 214px;
  height: 57px;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-btn-create:hover {
  border-color: #29abe2;
  background-color: #29abe2;
  box-shadow: 0 4px 6px #d1d1d1;
}

.img-btn-close {
  width: 55%;
  height: 55%;
  border: 2px;
}

.img-btn-check {
  width: 100%;
  height: 100%;
}

.add-seperator {
  width: 90px;
  height: 3px;
  background-color: #29abe2;
}

.input-div {
  position: relative;
  display: flex;
  align-items: center;
  width: 422px;
}

.input-img-person {
  position: absolute;
  left: 360px;
  height: 16px;
  width: 16px;
}

.input-img-mail {
  position: absolute;
  left: 358px;
  height: 16px;
  width: 20px;
}

.input-img-call {
  position: absolute;
  left: 359px;
  height: 18px;
  width: 18px;
}

.btn-icons {
  width: 24px;
  height: 24px;
}

.slideIn {
  animation: slideIn 0.2s ease-in-out forwards;
}

.slideOut {
  animation: slideOut 0.2s ease-in-out backwards;
}

.addCntOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: background-color 0.2s ease-in-out;
}

slideIn {
  animation: slideIn 0.5s ease-in-out forwards;
}

slideOut {
  animation: slideOut 0.5s ease-in-out forwards;
}
