.floating-main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.2s ease-in-out;
}

.required-section-floating {
  position: absolute;
  bottom: 35px;
  right: 0;
  width: 100%;
  padding-left: 74px;
  padding-right: 74px;
  display: flex;
  justify-content: space-between;
}

.slideIn {
  animation: slideIn 0.2s ease-in-out forwards;
}

.slideOut {
  animation: slideOut 0.2s ease-in-out forwards;
}

.floating-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 74px;
  width: 1116px;
  height: 870px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
}
