.floating-main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.2s ease-in-out;
}

.required-section-floating {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slideIn {
  animation: slideIn 0.2s ease-in-out forwards;
}

.slideOut {
  animation: slideOut 0.2s ease-in-out forwards;
}

.outside-floating-addTask {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.floating-content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1116px;
  max-height: 870px;
  height: 100%;
  width: 100%;
  padding: 64px 74px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  gap: 32px;
}

.input-section-floating {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  scrollbar-width: none;
}

.headline-add-task-floating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bt-section-floating {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.add-task-form-floating {
  width: 100%;
  height: calc(100vh - 265px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.required-field-desktop-floating {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

@media (max-width: 1170px) {
  .floating-content {
    padding: 32px 24px;
    align-items: center;
  }

  .headline-add-task-floating {
    width: 100%;
  }
}

@media (max-width: 970px) {
  .floating-content {
    max-width: 396px;
  }

  .required-section-floating {
    justify-content: space-between;
  }

  .input-section-floating {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .headline-add-task-floating {
    max-width: 396px;
    padding: 0;
  }

  .add-task-form-floating {
    height: calc(100vh - 184px);
    overflow: auto;
    scrollbar-width: none;
  }

  .bt-section-floating {
    padding-top: 8px;
  }
}
