.overlay-join-logo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  animation: fadeOutLogo 500ms ease-in-out 600ms forwards;
}

.start-join-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 274px;
  height: 334px;
  z-index: 999;
  transform: translate(-50%, -50%);
  animation: shrinkLogo 500ms ease-in-out 600ms forwards;
}

.start-join-logo img {
  width: 100%;
  height: 100%;
}

.login-logo-left {
  position: absolute;
  top: 67px;
  left: 77px;
}

.login-logo-left img {
  max-width: 100%;
}

.login-signup-right {
  position: absolute;
  top: 67px;
  right: 77px;
  display: flex;
  align-items: center;
  gap: 35px;
  z-index: 99;
}

.bt-signup {
  background-color: #2a3647;
  border: none;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  transition: all 100ms ease-in-out;
}

.bt-signup:hover {
  background-color: #29aae1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translateX(-1px);
}

.login-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  flex-grow: 1;
}

.outside-form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 652px;
  width: 100%;
  height: 449px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.headline {
  max-width: 315px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.headline h1 {
  font-size: 61px;
}

.input-content {
  max-width: 422px;
  width: 100%;
  height: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.checkbox-login-span {
  font-size: 16px;
  font-weight: 400;
  color: #29abe2;
}

.outside-input {
  max-width: 422px;
  width: 100%;
  height: 48px;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  padding: 12px 21px 12px 21px;
}

.inside-input {
  max-width: 380px;
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.inside-input input {
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 400;
}

.inside-input img {
  width: 24px;
  height: 24px;
}

.bt-login-content {
  width: 322px;
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.bt-login {
  width: 110px;
  height: 48px;
  background-color: #2a3647;
  color: #ffffff;
  border: none;
  text-align: center;
  border-radius: 8px;
  font-size: 21px;
  font-weight: 700;
  transition: all 100ms ease-in-out;
}

.bt-login:hover {
  background-color: #29aae1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bt-guest-login {
  width: 177px;
  height: 48px;
  background-color: #ffffff;
  color: #2a3647;
  border: solid 1px #2a3647;
  text-align: center;
  border-radius: 8px;
  font-size: 21px;
  font-weight: 700;
  transition: all 100ms ease-in-out;
}

.bt-guest-login:hover {
  color: #29abe2;
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

footer {
  position: absolute;
  width: 100%;
  bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.legal-information-content {
  width: 246px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.legal-information-content a {
  color: #a8a8a8;
  padding: 8px;
}

.legal-information-content a:hover {
  color: #29abe2;
  transform: scale(1.02);
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .login-signup-right {
    position: unset;
    display: flex;
    padding-top: 77px;
    right: 16px;
  }

  .start-join-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 122px;
    z-index: 999;
    transform: translate(-50%, -50%);
    animation: shrinkLogo 500ms ease-in-out 600ms forwards;
  }

  @keyframes shrinkLogo {
    0% {
      width: 100px;
      height: 122px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    100% {
      width: 64px;
      height: 78px;
      top: 37px;
      left: 38px;
      transform: translate(0, 0);
    }
  }
}

@media screen and (max-width: 428px) {
  .bt-login-content {
    flex-direction: column;
    align-items: center;
    gap: 21px;
  }

  .bt-login {
    width: 180px;
  }

  .outside-form-content {
    max-width: 396px;
    padding: 0 16px;
  }

  .outside-input {
    max-width: 364px;
  }

  .form-content {
    width: 100%;
  }

  .inside-input input {
    width: 100%;
  }

  .headline h1 {
    font-size: 47px;
  }
}
