.notice-wrap {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  background-color: #f6f7f8;
  padding: 110px 80px 80px 80px;
  max-width: 1920px;
}

.explor-board {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}

.span-notice {
  color: rgba(41, 171, 226, 1);
}

.indemnity {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 640px) {

  .notice-wrap,
  .help-wrap {
    padding: 110px 9px 80px 9px;
  }
}