<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add contact</title>
    <link rel="shortcut icon" href="../assets/img/join.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../style/add_contact.css" />
    <link rel="stylesheet" href="../style/variables.css" />
    <script src="../js/template.js"></script>
    <script src="../js/add_contact.js"></script>
  </head>

  <body>
    <div class="main-floater">
      <div class="add-contact">
        <img src="../assets/img/join.svg" class="add-icon" />
        <div class="add-text">
          <span class="add-title">Add contact</span>
          <span class="add-subtitle">Tasks are better with a team!</span>
        </div>
        <div class="add-seperator"></div>
      </div>
      <div class="add-form">
        <div class="add-form-circle">
          <img src="../assets/icons/person-cnt.svg" class="add-icon-pers" />
        </div>
        <div class="right-wrap">
          <div class="add-fields">
            <div class="input-div">
                <input type="text" placeholder="Name" class="add-input" />
                <img src="../assets/icons/person_input.svg" class="input-img-person">
            </div>
            <div class="input-div">
                <input type="email" placeholder="Email" class="add-input"/>
                <img src="../assets/icons/mail.svg" class="input-img-mail">
            </div>
           <div class="input-div">
            <input type="tel" placeholder="Phone" class="add-input"/>
            <img src="../assets/icons/call.svg" class="input-img-call">
           </div>
          </div>
          <div class="add-btn-div">
            <button class="add-btn-cancel">Cancel
                <img src="../assets/icons/close.svg" class="img-btn-close">
            </button>
            <button class="add-btn-create">Create contact</button>
          </div>
        </div>
      </div>
      <div class="add-close-div">
        <img src="../assets/icons/close.svg" class="add-close-btn">
      </div>
    </div>
    <script src="../script.js"></script>
  </body>
</html>
