<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Task</title>
    <link rel="shortcut icon" href="/assets/img/join.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/style/standard.css" />
  </head>
  <body>
    <header>
      <p>Kanban Project Management Tool</p>
      <div class="header-right-box">
        <img src="/assets/icons/help.svg" alt="help.icon" />
        <img src="/assets/icons/Group 5.svg" alt="" />
      </div>
    </header>
    <div class="side-menu">
      <div class="join-logo-section">
        <img src="/assets/img/join.svg" alt="Join.Logo" />
      </div>
    </div>
  </body>
</html>
