<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add-Task</title>
    <link rel="shortcut icon" href="../assets/img/join.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../style/desktop_template.css" />
  </head>

  <body>
    <header>
      <p>Kanban Project Management Tool</p>
      <div class="header-right-box">
        <img src="../assets/icons/help.svg" alt="help.icon" />
        <img src="../assets/icons/Group 5.svg" alt="" />
      </div>
    </header>
    <section class="side-menu">
      <div class="join-logo-section">
        <img src="../assets/img/join.svg" alt="Join.Logo" />
      </div>
      <nav class="navbar_section">
        <div class="nav">
          <img class="img_menu" src="../assets/icons/summary.svg" alt="summary" />
          <a href="">Summary</a>
        </div>
        <div class="nav">
          <img class="img_menu" src="../assets/icons/add_task.svg" alt="" />
          <a href="">Add Task</a>
        </div>
        <div class="nav">
          <img class="img_menu" src="../assets/icons/board.svg" alt="" />
          <a href="">Board</a>
        </div>
        <div class="nav">
          <img class="img_menu" src="../assets/icons/contacts.svg" alt="" />
          <a href="">Contacts</a>
        </div>
      </nav>
    </section>
  </body>
</html>
